<html>
<head>
{%- block head %}
<meta charset="UTF-8">
{%- endblock %}
</head>
<body>
{%- block header %}
<h1>{{obj}}</h1>
<p>{{_("Period from %s until %s") % (
  fds(ar.action_param_values.start_date),
  fds(ar.action_param_values.end_date))}})</p>
{%- endblock %}

{%- block intro %}
<ul>
{% for k in ['line', 'teacher', 'room', 'start_date'] %}
<li>{{obj._meta.get_field(k).verbose_name}} : {{getattr(obj, k)}}</li>
{% endfor %}
</ul>
{%- endblock %}

{%- block main %}
{%- endblock %}
</body>
</html>
