{% extends "bootstrap3/base.html" %}
{% set active_page = "" %}
{% block title %}{{title}}{% endblock %}
{% block main %}
<div class="row-fluid">
<h1>#{{obj.id}} ({{obj.summary}})</h1>
{{tostring(navigator)}}
<p style="background-color:#eeeeee; padding:6pt;">
<b>State:</b> {{obj.state}}
{% if obj.closed %} (closed){% endif %}
{% if obj.standby %} (standby){% endif %}
(last update {{obj.modified}})
<br/><b>Created</b> {{obj.created}} by {{obj.user}}
{% if obj.topic %}
<br/><b>Topic:</b> {{tostring(ar.obj2html(obj.topic))}}
{% endif %}
{% if obj.site %}
<br/><b>Site:</b> {{tostring(ar.obj2html(obj.site))}}
{% endif %}

{% if False %}
{% if obj.project %}
<br/><b>Project:</b> {{obj.name}}
{% endif %}
{% if obj.ticket_type %}
<br/><b>Type:</b> {{obj.ticket_type}}
{% endif %}
{% endif %}
</p>
<div>
{% if obj.private and not ar.get_user().authenticated%}
(Private content)
{% else %}
{{memo(obj.description)}}
{% for comm in rt.models.comments.comments_by_owner(obj) %}
<ul>
{{comm.as_paragraph(ar)}}
</ul>
{% endfor %}
{% endif %}
</div>
</div>
{% endblock %}
